@using AddBuzz.Helpers.CustomeAuthorizeAttribute
@inject IAuthorizeHelper _AuthorizeHelper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tabinu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/font/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/font-persian/iransans/css/fontiran.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
       
        <div class="dropdown " id="CartHolder">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                سبد سفارش <span class="fa fa-shopping-cart"></span>
            </button>
            <div class="dropdown-menu text-center">
                <h5 class="dropdown-header border-bottom">لیست سفارش ها</h5>
                <h5 class="dropdown-header border-bottom">جمع مبلغ: 0 ریال </h5>
                <br/>
                <a class=" btn btn-success border-bottom" href="#">تکمیل خرید</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            TABINU
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            @{
                if (!_AuthorizeHelper.IsAuthenticated())
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">ثبت نام <span class="fa fa-registered"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ورود <span class="fa fa-user-circle"></span></a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                    ناحیه کاربری <span class="fa fa-user"></span>
                                </button>
                                <div class="dropdown-menu text-right">
                                    <a class="dropdown-item border-bottom" href="#">منوی اصلی <span class="fa fa-minus"></span></a>
                                    <a class="dropdown-item border-bottom" href="#">تسویه حساب <span class="fa fa-credit-card"></span></a>
                                    <h5 class="dropdown-header border-bottom">کیف پول: 0 ریال <span class="fa fa-money"></span></h5>
                                    <a class="dropdown-item" href="#">خروج <span class="fa fa-power-off"></span></a>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                }
            }
            <span class="navbar-text">
                <a class="navbar-brand" href="#">TABINU</a>
            </span>
        </div>
    </nav>
</header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Tabinu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
