@{
    ViewData["Title"] = "BaseMenu";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<div class="container">
    <div class="row text-left">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="margin-top:15%">
            <button class="btn btn-lg btn-flat  btn-primary mb-3 btn-block" type="button">من صاحب پیج تبلیغاتی هستم</button>
            <br />
            <button class="btn btn-lg btn-flat  btn-secondary  mb-3 btn-block" type="button">به دنبال تبلیغ برای کارم هستم</button>
            <br />
            <button class="btn btn-lg btn-flat  btn-success mb-3 btn-block" type="button">من گرافیست هستم</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>


