@model AddBuzz.Models.Advertisement.AdvertisementViewModel

@{
    ViewData["Title"] = "Paln";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text">@Model.Description</p>
            <a href="" class="btn btn-primary">سفارش این تبلیغات</a>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
