@model AddBuzz.Models.Order.CartViewModel

<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
    سبد سفارش <span class="fa fa-shopping-cart"></span>
</button>
<div class="dropdown-menu text-center">
    <h4 class="dropdown-header border-bottom">لیست سفارش ها</h4>
    @{
        foreach (var item in Model.cartServiceViewModels)
        {
            <h5 class="dropdown-header border-bottom">@item.Title : @item.Count => @item.Price </h5>
        }
    }

    <h5 class="dropdown-header border-bottom">جمع مبلغ: @Model.Price ریال </h5>
    <br/>
    <a class=" btn btn-success border-bottom" href="/Order/finalize">تکمیل خرید</a>
</div>
