/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */


html{
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*font-family: IRANSans;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.hero-image {
    background-image: url("/assets/images/daniel-tseng-6Tf2XGaaTrQ-unsplash.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cart{
    max-width:100px;
    background-color:whitesmoke;
}


.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 33;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
}

.offset-1 {
    margin-right: 8.333333%;
}

.offset-2 {
    margin-right: 16.666667%;
}

.offset-3 {
    margin-right: 25%;
}

.offset-4 {
    margin-right: 33.333333%;
}

.offset-5 {
    margin-right: 41.666667%;
}

.offset-6 {
    margin-right: 50%;
}

.offset-7 {
    margin-right: 58.333333%;
}

.offset-8 {
    margin-right: 66.666667%;
}

.offset-9 {
    margin-right: 75%;
}

.offset-10 {
    margin-right: 83.333333%;
}

.offset-11 {
    margin-right: 91.666667%;
}